body{
    background-color: rgb(168, 252, 224);

}
div{
    float:left;
    margin-left:60px;
    margin-top: 19px;
  
}

h2{
    text-shadow:4px 4px 4px rgb(8, 108, 105);
    text-decoration: dotted;
    margin-left: 600px;
    margin-top:40px;
    
}
#tabletwo
{

   margin-left:130px;
 
   width:1220px;
   font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


td:hover{
    background-color: rgb(22, 135, 90);
}
a:hover{
color:crimson;
background-color: aquamarine;
outline-offset: 4px;
outline-style: dotted;
outline-color: black;
}
#aks
{

    border-radius: 4px;
    border-color: rgb(71, 243, 140);
    border-width: 5px;
    border-style: groove;
    margin-left: 250px;
    margin-bottom: 19px;
    box-shadow: 0px 0px 10px 10px rgb(103, 172, 103);
}
