div{
    margin-top:20px;
    float:left;
    margin-left: 65px;
}
    #one{
    float:left;
    border: 10px groove #6d6990;
    outline-style:groove;
    outline-color:inset;
    outline-offset: 2px;
    outline-color:rgb(166, 142, 188);
    border-radius: 3px;
   
}
#four
{
    text-shadow:3px 4px 5px rgb(68, 117, 208);
    text-overflow: clip;
    margin-left: 650px;
}


body{
    background-color: rgb(233, 235, 243);

}
#two{

    width:1300px;
    margin-left: 85px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;
font-weight:lighter;
  
    
}

td:hover{
   background-color: rgb(185, 198, 235);
}
#thh{

    border-style: double;
border-radius: 5px;
border-color: black;
margin-bottom: 20px;
box-shadow:0px 0px 10px 10px rgb(168, 164, 245);
margin-left: 180px;

}

a:hover{
    outline-style: double;
    outline-color: rgb(211, 243, 157);
    color: rgb(62, 7, 9);
  
}

