body{
    background-color: rgb(238, 198, 171);
}
div
{
  float:left;
  margin-left:66px;
  margin-top: 20px;
  margin-bottom: 10px;
}
h1{
    text-shadow:4px 4px 4px rgb(117, 68, 8);
    text-decoration: dotted;
    margin-left: 550px;
}
#tabletwo
{
   width:1260px;
   margin-left: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#tt
{
   margin-left: 320px;
   margin-top: 5px;
   border-radius: 4px;
   border-style: groove;
   border-color: rgb(235, 145, 36);
   margin-bottom: 30px;
   box-shadow: 0px 0px 10px 10px #f8c68e;
}

td:hover{
    background-color:rgb(188, 94, 21)
}

a:hover{
color:rgb(187, 26, 82);
background-color: rgb(73, 21, 5);
outline-offset: 4px;
outline-style: dotted;
outline-color: rgb(249, 13, 13);
}
